/*.first{
    background-color: #424242;
    height: 400px;
    width: 100%;
    margin-top: 100px;
    position: relative;
}

.first h1{
    margin-left: 450px;
    top: 90px;
    position: absolute;
}

.first h2{
    position: absolute;
    top: 230px;
    margin-left: 380px;
}

.carousell{
    background-color: #f15353;
    margin-top: 0px;
    width: 100%;
    height: 500px;
}*/