.Whole{
    background-image: url('../Images/homeb2.png'); /* Replace 'path/to/your/image.jpg' with the path to your image */
    background-size: cover; /* Ensures the background image covers the entire element */
    background-position: center;
}

.container {
    display: flex;
    height: 700px;
    width: 1000px;
    position: relative;
    margin-left: 180px;
    
}

.back-link {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color:white; /* Adjust the color as needed */
  }

.logoSide {
    width: 50%;
    background-color: #CDC2AE;
    height: 100%;
}

.d-block{
    margin-top: 170px;
    margin-left: 130px;
}

.logoSide h1{
    margin-left: 120px;
    margin-top:-10px ;
}

.blackLine {
    border: 0;
    height: 2px;
    background-color: black; 
    width: 350px;
    margin-top: -6px;
    margin-left: 74px;
}

.logoSide p{
    width: 50%;
    font-size: 20px;
    margin-left: 120px;
    margin-top: -15px;
    text-align: center;
}
.rightSide {
    width: 50%;
    height: 100%;
    background-color: #116A7B;
}

.rightSide h2{
    margin-left: 100px;
    margin-top: 80px;
    color: white;
    font-size: 26px;
}

.rightSide p{
    color: white;
    font-size: 20px;
    margin-left: 180px;
}

.custom-width{
    width: 400px;
    margin-left: 60px;
    margin-top: 50px;
}

.custom-width1{
    width: 400px;
    margin-left: 60px;
    margin-top: 50px;
}
.custom-width2{
    width: 400px;
    margin-left: 60px;
    margin-top: 50px;
}



