/*.container {
    display: flex;
    height: 700px;
    width: 1000px;
    position: relative;
    margin-left: 250px;
    
}

.logoSide {
    width: 50%;
    background-color: #CDC2AE;
    height: 100%;
}

.d-block{
    margin-top: 170px;
    margin-left: 150px;
}

.logoSide h1{
    margin-left: 130px;
    margin-top:-10px ;
}

.blackLine {
    border: 0;
    height: 2px;
    background-color: black; 
    width: 350px;
    margin-top: -6px;
    margin-left: 88px;
}

.logoSide p{
    width: 50%;
    font-size: 20px;
    margin-left: 130px;
    margin-top: -15px;
    text-align: center;
}
.rightSide {
    width: 50%;
    height: 100%;
    background-color: #116A7B;
}

.rightSide h2{
    margin-left: 115px;
    margin-top: 80px;
    color: white;
    font-size: 26px;
}

.rightSide p{
    color: white;
    font-size: 20px;
    margin-left: 200px;
}

.custom-width{
    width: 400px;
    margin-left: 80px;
    margin-top: 50px;
}

.custom-width1{
    width: 400px;
    margin-left: 80px;
    margin-top: 50px;
}
.custom-width2{
    width: 400px;
    margin-left: 80px;
    margin-top: 50px;
}/*



