.first{
    background-image: url('About us 3.png'); /* Replace 'path/to/your/image.jpg' with your image file path */
    background-size: cover; /* Ensures the image covers the entire background */
    background-repeat: no-repeat; 
    height: 400px;
    width: 100%;
    margin-top: 100px;
    position: inherit;
    color: white;
}

.first h1{
    margin-left: 450px;
    top: 90px;
    position: absolute;
}

.first h2{
    position: absolute;
    top: 230px;
    margin-left: 380px;
}
.Second{
    position:flex;
    height: 550px;
    background-color: #CDC2AE;
}

.col-md-7 {
    margin-top: 50px;
    margin-left: 50px;
    width: 50%;
  }

  .col-md-7 p{
    margin-top: 50px;

  }

.row.featurette {
    background-color: #CDC2AE;
  }

.third{
    height: 250px;
    width: 100%;
    background-color: white;
    position: flex;
}

.third h1{
    margin-left: 36%;
    margin-top: 13px;
    height: 80px;
}

.quality{
    margin-left: 110px;
}

.convenience{
    margin-left: 410px;
    margin-top: -47px;
}
.reliability{
    margin-left: 710px;
    margin-top: -47px;
}
.fourth{
    height: 500px;
    width: 100%;
    background-color: #CDC2AE;
    position: flex;
}
