.first {
    background-image: url('Contact us.jpg'); /* Replace 'path/to/your/image.jpg' with your image file path */
    background-size: cover; /* Ensures the image covers the entire background */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    height: 400px;
    width: 100%;
    margin-top: 100px;
    position: relative;
}
.first h1{
    margin-left: 450px;
    top: 90px;
    position: absolute;
}

.first h2{
    position: absolute;
    top: 230px;
    margin-left: 380px;
}

.Second {
    display: flex;
    height: 600px;
}

.firstHalf {
    flex: 1;
    background-color: #CDC2AE;
    height: 100%;
}

.firstHalf h3{
    margin-top: 20px;
    margin-left: 100px;
}

.firstHalf input,
.firstHalf textarea {
    width: 60%; /* Adjust the width as needed */
    margin-left: 100px;
    top: 100px;
    /* Other styling properties as required */
}

.firstHalf label{
    width: 60%;
    margin-left: 100px;
    margin-top: 10px;
}

.firstHalf button{
    width: 30%;
    margin-left: 100px;
    margin-top: 10px;
}

.secondHalf {
    flex: 1;
    background-color: #CDC2AE;
    height: 100%;
    
}

.tBody{
    margin-top: 20px;
    margin-left: 50px;
    
   
}

.tBody p {
    /* Resetting any potentially interfering properties */
    word-break: normal;
    white-space: normal;
    width: 50%;
}

.announcement {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    height: 100px; /* Set a height for vertical centering, adjust as needed */
    background-color: #CDC2AE;
}

.custom-border {
    border: 2px solid black;
    /* Add any additional styles as needed */
}

  .visit-link {
    text-decoration: none; /* Remove underline */
    color: #116A7B; /* Set text color */
    font-size: 17px; /* Adjust text size */
    font-weight: bold;
  }