body {
    margin: 0;
    font-family: 'Maven Pro-Regular', Helvetica;
}

.footer {
    background-color: #116a7b;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    height: 230px;
}
  
.footer-section {
    text-align: left;
    flex: 1;
    all: unset;
    position: absolute;
    left: 80px;
    bottom: 10px;
    top: 5px;
}
  
.logo {
    font-weight: bold;
    mix-blend-mode: multiply;
    width: 150px;
    height: 130px;
    margin-top: 30px;
}

.footer-text {
    font-size: 14px;
    margin-top: 5px;
    font-size: 26px;
    font-weight: bold;
}

.verticalLine1 {
    width: 2px;
    height: 80%;
    position: absolute;
    background-color: white;
    top: 20px;
    left: 350px;
}

.quick-links-section {
    text-align: left;
    position: absolute;
    left: 470px;
    top: 10px;
}

.quick-links {
    font-size: 26px;
    font-weight: bold;
}
  
.quick-links-section ul {
    list-style-type: none;
    padding: 0;
    font-size: 18px;
    font-weight: 600;
    
}
  
.quick-links-section ul li {
    margin-bottom: 3px;
}
  
.quick-links-section ul li a {
    text-decoration: none;
    color: inherit;
}
  
.quick-links-section ul li a:hover {
    text-decoration: underline;
    color: #fff;
}

.verticalLine2 {
    width: 2px;
    height: 80%;
    position: absolute;
    background-color: white;
    top: 25px;
    left: 770px;
}

.newsletter-section {
    text-align: left;
    all: unset;
    position: absolute;
    left: 850px;
    top: 10px;
}
  
.newsletter {
    font-weight: bold;
    font-size: 26px;
}

.subscribe {
    font-size: 14px;
    margin-top: 5px;
    font-weight: bold;
}

.newsletter-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email-input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
    outline: none;
    transition: border-color 0.3s;
}
  
.email-input:focus {
    border-color: #CDC2AE;
}
  
.sub-btn {
  all: unset;
  background-color: #cdc2ae;
  border-radius: 10px;
  padding: 7px 25px;
  font-size: 14px;
  cursor: pointer;
  color: #000;
  font-weight: bold;
  margin-top: 10px;
  transition: transform 0.1s;
}

.sub-btn:active {
  transform: translateY(2px);
}

.verticalLine3 {
    width: 2px;
    height: 80%;
    position: absolute;
    background-color: white;
    top: 25px;
    left: 1230px;
}
.social-icon {
    height: 30px;
    width: 30px;
    margin: 10px;
}

.social-media-section {
    position: absolute;
    left: 1285px;
    top: 10px;
}

.social-media {
    font-size: 26px;
    font-weight: bold;
}
.copyright {
    margin-top: 60px;
    font-weight: 800;
    color: black;
}
.c-logo {
    width: 20px;
    height: 20px;
    margin-bottom: 3px;
}